@using WebApp.Models

@model IEnumerable<Category>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Command</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>
                <a href="/category/edit/@item.CategoryId">Edit</a>
                <a href="/category/delete/@item.CategoryId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>